<h1>Mission Statement</h1>
<p>We built pintersting to bring about the end of the dearth of options to post pitures of your cats online. We have gone on this way for too long! We must draw a line in the sand!</p>

